.blue-red-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 4px 16px;
    border-radius: 2%;
    font-size: 16px;
    border: 2px;
    outline: 2px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .blue-red-button:hover {
    background-color: rgb(243, 243, 243);
    outline: 2px;
  
  }

  .blue-red:hover{
    color: rgb(216,52,52);
  }

  

.blue-red-text {
  color: rgb(16, 20, 76);
}

.blue-red-text:hover {
  color: rgb(216, 52, 52);
}


.secNav{
  color: rgb(16, 20, 76);

}